<!DOCTYPE html>
<html lang="en">
<head>
<title>Skynet | {{ action }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ base_url() }}/public/css/bootstrap.min.css" />

  <link rel="stylesheet" href="{{ base_url() }}/public/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="{{ base_url() }}/public/css/fullcalendar.css" />
  <link rel="stylesheet" href="{{ base_url() }}/public/css/matrix-style.css" />
  <link rel="stylesheet" href="{{ base_url() }}/public/css/matrix-media.css" />
  <link href="{{ base_url() }}/public/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ base_url() }}/public/css/jquery.gritter.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet'>

</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="{{ base_url() }}{{ path_for('dashboard.view') }}">Skynet</a></h1>
</div>
<!--close-Header-part--> 


{% include 'templates/nav/navigation.html' %}

<!--main-container-part-->
<div id="content">
    {% block content %}{% endblock %}
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  
</div>

<!--end-Footer-part-->

<script src="{{ base_url() }}/public/js/excanvas.min.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.min.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.ui.custom.js"></script> 
<script src="{{ base_url() }}/public/js/bootstrap.min.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.flot.min.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.flot.resize.min.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.peity.min.js"></script> 
<script src="{{ base_url() }}/public/js/fullcalendar.min.js"></script> 
<script src="{{ base_url() }}/public/js/matrix.js"></script> 
<script src="{{ base_url() }}/public/js/matrix.dashboard.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.gritter.min.js"></script> 
<script src="{{ base_url() }}/public/js/matrix.interface.js"></script>
<script src="{{ base_url() }}/public/js/matrix.chat.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.validate.js"></script> 
<script src="{{ base_url() }}/public/js/matrix.form_validation.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.wizard.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.uniform.js"></script> 
<script src="{{ base_url() }}/public/js/select2.min.js"></script> 
<script src="{{ base_url() }}/public/js/matrix.popover.js"></script> 
<script src="{{ base_url() }}/public/js/jquery.dataTables.min.js"></script> 
<script src="{{ base_url() }}/public/js/matrix.tables.js"></script> 
<script src="{{ base_url() }}/public/js/select2.min.js"></script>

{% block script %}{% endblock %}

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

  // resets the menu selection upon entry to this page:
  function resetMenu() {
     document.gomenu.selector.selectedIndex = 2;
  }

</script>
</body>
</html>






